html,
body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
}
.landing-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.landing {
    position: relative;
    background: linear-gradient(to right, rgb(0, 65, 106), rgb(121, 159, 12), rgb(255, 224, 0));
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.landing h1 {
    font-size: 50px;
    font-weight: 900;
}
.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.6;
    margin: 5px;
}
.countdown span {
    display: block;
    font-size: 25px;
}
